


.name-company-wraper{
    display: flex;
    position: absolute;
    top: 60%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.name-company{
    color: #fff;
}